<!DOCTYPE html>
{%load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

 <body>
    <header class="header-wrapper">
      <div class="nav-header">
        <div>Logo</div>
        <button>
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <nav>
        <ul id="links-wrapper">
          <li><a href="./Index.html">Home</a></li>
          <li><a href="./About.html">About</a></li>
          <li><a href="./Contact.html">Contact</a></li>
          <li><a href="./Info.html">Info</a></li>
        </ul>
      </nav>
      <p class="title-class">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
        perferendis eum asperiores obcaecati maiores cum autem quidem corrupti
        sapiente quos, perspiciatis non similique nemo minima incidunt. Eius
        illo odit tempore?
      </p>
    </header>
    <hr />

    <!--The part below here is the main-->

    <main id="main-part">
      <div class="title">
        <h1>We Optimize Websites for Search Engines</h1>
        <p>Help visitors find your brand on the web.</p>
        <br />
      </div>
    </main>
  </body>
</html>